<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragments/links :: headContent('')}"></head>
<title>Projetos - EasyProjects</title>

<body class="bg-light">
<div th:replace="~{fragments/navbar :: navbar}" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></div>

<div class="container-fluid mt-5 pt-1">

  <div class="table-responsive mt-5">
    <div class="text-start mb-2"><h1>Projetos</h1></div>
    <hr>
    <div class="text-end mb-2">
      <a href="/projetos/novo" class="btn btn-primary">Criar Novo Projeto</a>
    </div>

    <div class="row w-100 px-2">
      <div class="col-md-2 mb-3">
        <label for="nome">Nome</label>
        <input type="text" id="nome" class="form-control" placeholder="Insira o nome do projeto">
      </div>

      <div class="col-md-2 mb-3">
        <label for="statusBusca">Status</label>
        <select id="statusBusca" class="form-control">
          <option value="" selected>Selecione uma opção</option>
          <option value="Pendente">Pendente</option>
          <option value="Em andamento">Em andamento</option>
          <option value="Concluído">Concluído</option>
        </select>
      </div>

      <div class="col-md-2 mb-3">
        <label for="prioridadeBusca">Prioridade</label>
        <select id="prioridadeBusca" class="form-control">
          <option value="" selected>Selecione uma opção</option>
          <option value="Baixa">Baixo</option>
          <option value="Média">Média</option>
          <option value="Alta">Alta</option>
        </select>
      </div>

      <div class="col-md-2 mb-3">
        <label for="clienteBusca">Cliente</label>
        <select id="clienteBusca" class="form-control">
          <option value="" selected>Selecione um cliente</option>
          <option th:each="cliente : ${clientes}" th:text="${cliente.nome}" th:value="${cliente.nome}"></option>
        </select>
      </div>

      <div class="col-md-2 mb-3">
        <label for="dataInicioBusca">Data Início</label>
        <input type="date" id="dataInicioBusca" class="form-control">
      </div>

      <div class="col-md-2 mb-3">
        <label for="dataFimBusca">Data Fim</label>
        <input type="date" id="dataFimBusca" class="form-control">
      </div>


      <div class="col-md-1 mb-3 d-flex align-items-end">
        <button id="limparFiltros" class="btn btn-secondary w-100">Limpar Filtros</button>
      </div>
    </div>

    <table class="table table-bordered table-striped table-hover w-100" id="tabelaProjetos">
      <thead>
      <tr>
        <th class="text-center">Iniciado</th>
        <th class="text-center">Nome</th>
        <th class="text-center" style="width: 30%;">Descrição</th>
        <th class="text-center">Status</th>
        <th class="text-center">Data início</th>
        <th class="text-center" style="width: 10%;">Data prev. finalização</th>
        <th class="text-center">Prioridade</th>
        <th class="text-center">Cliente</th>
        <th class="text-center">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="projeto : ${projetos}">
        <td class="text-center">
          <span th:if="${projeto.iniciado}" class="bi bi-check-circle-fill text-success"></span>
          <span th:if="${not projeto.iniciado}" class="bi bi-x-circle-fill text-danger"></span>
        </td>
        <td class="text-center" th:text="${projeto.nome}"></td>
        <td class="text-center" th:text="${projeto.descricao}"></td>
        <td class="text-center" th:text="${projeto.status}"></td>
        <td class="text-center" th:text="${projeto.dataInicio != null ? #temporals.format(projeto.dataInicio, 'dd/MM/yyyy') : '---'}"></td>
        <td class="text-center">
          <span th:text="${projeto.previsaoFim != null ? #temporals.format(projeto.previsaoFim, 'dd/MM/yyyy') : '---'}"></span>
          <span th:if="${projeto.previsaoFim != null and projeto.previsaoFim.isBefore(#temporals.createNow().toLocalDate())}" class="badge bg-warning ms-2">Atrasado</span>
        </td>
        <td class="text-center">
          <span th:if="${projeto.prioridade.toLowerCase() == 'baixa'}" class="badge bg-secondary">Baixa</span>
          <span th:if="${projeto.prioridade.toLowerCase() == 'média'}" class="badge bg-primary">Média</span>
          <span th:if="${projeto.prioridade.toLowerCase() == 'alta'}" class="badge bg-danger">Alta</span>
        </td>
        <td class="text-center" th:text="${projeto.cliente.nome}"></td>
        <td class="text-center">
          <button th:if="${!projeto.iniciado}" th:data-id="${projeto.id}" onclick="iniciarProjeto(this)" class="btn btn-success btn-sm">Iniciar Projeto</button>
          <button class="btn btn-warning btn-sm">Editar</button>
          <button th:data-id="${projeto.id}" onclick="excluirProjeto(this)" class="btn btn-danger btn-sm">Excluir</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div th:replace="~{fragments/scripts :: scriptsContent('/assets/js/projetos.js')}"></div>
</body>
</html>
