<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragments/links :: headContent('')}"></head>
<title>Responsáveis - EasyProjects</title>

<body class="bg-light">
<div th:replace="~{fragments/navbar :: navbar}" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></div>

<div class="container-fluid mt-5 pt-1">

  <div class="table-responsive mt-5">
    <div class="text-start mb-2"><h1>Responsáveis</h1></div>
    <hr>
    <div class="text-end mb-2">
      <a href="/responsaveis/novo" class="btn btn-primary">Criar Novo Cliente</a>
    </div>

    <div class="row w-100 px-2">
      <div class="col-md-3 mb-3">
        <label for="nome">Nome</label>
        <input type="text" id="nome" class="form-control" placeholder="Insira o nome do responsável">
      </div>
    </div>

    <table class="table table-bordered table-striped table-hover w-100" id="tabelaResponsaveis">
      <thead class="">
      <tr>
        <th class="text-center">Nome</th>
        <th class="text-center">Projetos</th>
        <th class="text-center">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="responsavel : ${responsaveis}">
        <td class="text-center" th:text="${responsavel.nome}"></td>
        <td class="text-center" th:text="---"></td> <!-- TODO: POPULAR !-->

        <td class="text-center">
          <button th:data-id="${responsavel.id}" th:data-nome-responsavel="${responsavel.nome}" onclick="modalEditarResponsavel(this)" class="btn btn-warning btn-sm">Editar</button>
          <button th:data-id="${responsavel.id}" onclick="excluirResponsavel(this)" class="btn btn-danger btn-sm">Excluir</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div th:replace="~{responsaveis/modal_editar_responsavel}"></div>
<div th:replace="~{fragments/scripts :: scriptsContent('/assets/js/responsaveis.js')}"></div>
</body>
</html>
